* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
}

/*header*/
.main-container {
  margin: 20px auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: #fff;
  padding: 20px 40px;
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
}

.nav-bar ul {
  list-style: none;
  display: flex;
}

.nav-bar ul li {
  margin-left: 20px;
}

.nav-bar ul li a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s ease-in-out 0.2s;
  font-weight: bold;
}

.nav-bar ul li a:hover {
  border-bottom: 2px solid #fff;
}
